.board {
    background-color: #ffffff;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0.4rem;
    display: inline-block;

    text-shadow: #fff 0px 1px;
    font-weight: 300;

    position: relative;

}


.board .row{
  display: flex;
}

.board .row .col {
  flex: 1;
}

.board .row.title .col {
  text-align: center;
  display: inline-block;
}


.board .row .col.title {
  text-align: center;
  padding: 0.5rem;
  width: 3rem;
  flex: none;
}

.col.title span {
  display: inline-block;
  line-height: 30px;
}

.col.title span.unit {
  font-size: 0.8rem;
}


/* Score row*/
.row.score .col {
  text-align: right;
  padding: 10px 10px 0 10px;
  margin: 10px 0px 0px 0px;
  border-top: 2px solid #ecedf0;
}

.row.score span {
  display: block;
  margin-left: 0.1rem;
  float: left;
}

.row.score span.score {
  font-size: 2rem;
  text-align: right;
  float: right;
}

@keyframes crown-shake {
  0%    {transform:rotate(20deg);}
  12.5% {transform:rotate(10deg);}
  25%   {transform:rotate(28deg);}
  37.5% {transform:rotate(13deg);}
  50%   {transform:rotate(25deg);}
  62.5% {transform:rotate(15deg);}
  75%   {transform:rotate(23deg);}
  87.5% {transform:rotate(18deg);}
  100%  {transform:rotate(20deg);}
}

.board .row.distance.completed:after {
  content: "";
  display: block;
  position: absolute;
  left: 3.2rem;
  margin-top: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../../media/crown.svg);
  background-repeat: no-repeat;
  transform: rotate(20deg);

  animation-duration: 1s;
  animation-name: crown-shake;
}


.col.round {
  flex: 1;
  display: flex;
  padding: 0px 5px;
  border-right: 2px solid #ecedf0;
}

.col.round:last-child {
  border-right: none;
}

.putt {
  width: 30px;
  height: 30px;
  margin: 10px 5px ;
  background-color: #ecedf0;
  border-radius: 15%;
  box-sizing: border-box;
  cursor: pointer;
}

.putt.miss {
  background-color: #ff3383;
}

.putt.hit {
  background-color: #4cdbb7;
}

.board .row.distance.completed .putt {
  background-color: #ffc934;
}

.putt.bonus {
  background-image: url(../../media/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-blend-mode: color-burn;
}

.putt.miss.bonus {
  background-blend-mode: multiply;
}

/* Color blind enhanced mode*/
.cb-mode .putt.miss {
  background-color: #ff3383;
  background-image: url(../../media/miss.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.cb-mode .putt.hit {
  background-color: #4cdbb7;
  background-image: url(../../media/hit.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.cb-mode .board .row.distance.completed .putt {
  background-color: #ffc934;
  background-image: url(../../media/crown_putt.svg);
}

.cb-mode .putt.miss.bonus {
  background-blend-mode: multiply;
  background-image: url(../../media/star.svg);
}

.cb-mode .putt.hit.bonus {
  background-image: url(../../media/star_hit.svg);
  background-blend-mode: normal;
}


/* game controls*/
.game .controls{
  padding: 1rem 0 0 0;
}
