.app {
  text-align: center;
  padding: 3rem 0;
}

header.title {
  font-size: 4rem;
  text-align: center;
  color: #aaaaaa;
  text-shadow: #ffffff 0px 1px;
  font-weight: 100;
  font-style: italic;
}

.main {
  display: inline-block;
}
